<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-angle-double-down"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead"> I like to write like Clean maintanable Code. For Databases I use SQL Server, MySQL, Maria DB.

                <p class="lead">I have experience on working with Git, ASANA, Microsoft Teams, JIRA.</p>
            </div>
               
            <div class="col-lg-4 me-auto"><p class="lead">I have expertise on Backend Technogies such as ASP.NET Core, .NET 5, Laravel 8 for creating robust RESTful APIs.</p>
                <p class="lead">I have expertise on Frontend Framework Such has Angular 11+, RxJs, NgRx, TypeScript, ES 6+, React, React Redux, CSS Framework Bootstrap 5, Material UI, SASS</p>
            </div>
            
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="assets/cv-romy.pdf">
                <i class="fas fa-download me-2"></i>
                Download my Latest CV
            </a>
        </div>
    </div>
</section>